@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
  overflow-x: hidden;
  max-width: 100vw;
}

html, #root {
  background-color: white !important;
  overflow-x: hidden;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
